configure do
  set :drawer_images_dir, '/home/kambara/work/2011/201109/drawer-images'
  ## set :drawer_images_dir, 'C:\Users\tsuka\Dropbox\DrawerFinder\source\bin\x86\Debug\upload'

  set :site_title, 'DrawerBrowser'
  set :haml, {:format => :html5}
  set :views, File.dirname(__FILE__) + '/app/views'
  set :root, File.expand_path('../', __FILE__)
  set :sprockets, Sprockets::Environment.new(settings.root)
  settings.sprockets.append_path File.join(settings.root, 'assets')
end

configure :production do
end

configure :test do
end

configure :development do
end
