- @title = "DrawerViewer"
- content_for :scripts do
  %script(src='/js/lib/jquery.min.js')
  %script(src='/js/lib/jquery.mousewheel.min.js')
  %script(src='/js/lib/jcanvas.min.js')
  %script(src='/js/lib/json2.js')
  %script(src='/js/lib/underscore-min.js')
  %script(src='/js/lib/backbone-min.js')
  %script{:src => asset_path('javascripts/application.js')}
