- @title = "Test"
- content_for :scripts do
  %script(src='/js/lib/jquery-min.js')

.date-container.clearfix
  .date
    Jun 17
    %span.day (Thu)

  #image-container.clearfix
    .box-container
      .time
        18:10
      .overview
        %img.box{:src => '/data/01_2_1299564386.jpg'}
      .inside
        %img.box{:src => '/data/01_1_1291102358.jpg'}

    .box-container
      .time
        17:05
      .overview
        %img.box{:src => '/data/01_2_1294983384.jpg'}
      .inside
        %img.box{:src => '/data/01_1_1294983379.jpg'}

.date-container.clearfix
  .date
    Jun 16
    %span.day (Wed)

  #image-container.clearfix
    .box-container
      .time
        15:32
      .overview
        %img.box{:src => '/data/03_2_1295445509.jpg'}
      .inside
        %img.box{:src => '/data/03_1_1295445509.jpg'}

    .box-link-container
      15:32
      %br
      %a(href="/") Box1

    .box-link-container
      15:31
      %br
      %a(href="/") Box5

    .box-container
      .time
        14:20
      .overview
        %img.box{:src => '/data/02_2_1296122731.jpg'}
      .inside
        %img.box{:src => '/data/02_1_1296122731.jpg'}


.date-container.clearfix
  .date
    Jun 15
    %span.day (Tue)

  #image-container.clearfix
    .box-container
      .time
        13:14
      .overview
        %img.box{:src => '/data/06_2_1296455727.jpg'}
      .inside
        %img.box{:src => '/data/06_1_1296455727.jpg'}

    .box-container
      .time
        13:13
      .overview
        %img.box{:src => '/data/05_2_1296559694.jpg'}
      .inside
        %img.box{:src => '/data/05_1_1296559699.jpg'}

